@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/*navigation*/
header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  padding: 2.5rem 4rem;
  position: absolute;
  justify-content: space-between;
  align-items: baseline;
  color: white;
}
h1 {
  font-weight: 400;
  margin: 0%;
  font-family: "Prata", serif;
}
h1 > span {
  color: darkorange;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
.navItems {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 900;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  list-style-type: none;
  cursor: pointer;
  margin: 0ch;
}
.navItems > li > a {
  color: #e8e8e8;
  padding: 0.3rem 1.5rem 0.4rem 1.5rem;
}
.navItems > li > a:hover {
  color: #f1bf00;
  transition: color 0.3s ease;
  background-color: #21212151;
  border-radius: 1.5rem;
}
/*end of navigation*/

/*home page main content*/
.mainHome {
  background-image: url("images/homePageCover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0rem 4rem;
  display: flex;
  align-items: center;
}
.homePageText {
  display: flex;
  flex-direction: column;
}
.homePageText > button {
  max-width: 35%;
}
.spain {
  background: #aa151b;
  text-transform: uppercase;
  background: linear-gradient(
    to top,
    #aa151b 0%,
    #aa151b 33%,
    #f1bf00 33%,
    #f1bf00 70%,
    #aa151b 71%,
    #aa151b 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.3rem;
}
h2 {
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0%;
  padding: 0%;
}
/*text main page animation*/
.textAnimateMain > span {
  opacity: 0;
  filter: blur(4px);
}
.textAnimateMain > span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.textAnimateMain > span:nth-child(2) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.textAnimateMain > span:nth-child(3) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.textAnimateMain > span:nth-child(4) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/*end of text main page animation*/
/*end of home page main content*/

/*destination page*/
.mainDestinations {
  background-image: linear-gradient(rgba(0, 0, 0, 0.071), rgba(0, 0, 0, 0.407)),
    url("images/destinationsCover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  padding: 0rem 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
}
.mainDestinations > p {
  font-size: 1.7rem;
  margin: 0%;
}
/*end destination page*/

/* button slide orange on home page*/
.buttonDestination {
  padding: 10px 15px;
  text-transform: uppercase;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}
.buttonDestination::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #ff8c00;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.buttonDestination:hover {
  color: #e8e8e8;
}
.buttonDestination:hover::before {
  width: 100%;
}
/*end button slide orange on home page*/

/*three cards on home page*/
.cardsContainer {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  padding: 2rem 3rem;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -35%;
  height: 60vh;
  width: 100%;
}
.card {
  width: 30%;
  box-shadow: none;
  border: none;
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.15s ease;
}
.card:hover {
  transform: translateY(-2rem);
  transition: all 0.3s ease;
}
.cardBackground {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55%;
}
.card3Background {
  background-image: url("images/MADRID.jpg");
}
.card2Background {
  background-image: url("images/sansebastian1.jpg");
}
.card1Background {
  background-image: url("images/zaragoza1.jpg");
}
.card-body {
  height: 45%;
  display: flex;
  flex-direction: column;
}
.card-body > h3 {
  font-size: 30px;
  font-weight: 700;
}
.card-body > .buttonDestination {
  max-width: 60%;
  box-shadow: 4px 3px 15px 2px #878787;
  align-self: flex-end;
}
/*end of three cards on home page */

/*six cards on destinations page page*/
.cardDestination1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.329)),
    url(https://www.integral-zagreb.hr/sites/default/files/uploads/inline-images/GRAN-VIA-MADRID.jpg);
}
.cardDestination2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.329)),
    url(https://img2.10bestmedia.com/Images/Photos/378847/GettyImages-1085317916_54_990x660.jpg);
}
.cardDestination3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.329)),
    url(https://www.planetware.com/wpimages/2019/07/spain-best-places-to-visit-san-sebastian.jpg);
}
.cardDestination4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.329)),
    url(https://www.travelsewhere.net/wp-content/uploads/2021/03/DSC_0200-5.jpg);
}
.cardDestination5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.329)),
    url(https://www.planetware.com/wpimages/2019/07/spain-best-places-to-visit-valencia.jpg);
}
.cardDestination6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.329)),
    url(https://www.planetware.com/wpimages/2019/07/spain-best-places-to-visit-granada.jpg);
}
.cardsContainerDestinations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3rem;
  padding: 3rem 4rem;
}
.cardDestination {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all 0.25s ease;
}
.cardDestination:hover {
  transition: all 0.25s ease;
  transform: scale(1.01);
}
.cardDestination > h3 {
  margin-top: 6rem;
  color: #e8e8e8;
  font-weight: 700;
  font-size: 2rem;
}
.cardDestination > a {
  border: 1px transparent solid;
  padding: 10px 15px;
  font-size: 0.6rem;
  text-transform: uppercase;
  border: unset;
  border-radius: 15px;
  color: rgb(24, 24, 24);
  z-index: 1;
  background: #ffffff;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  transition: all 0.25s ease;
}
.cardDestination > a:hover {
  background: darkorange;
  color: #ffffff;
  border: 1px white solid;
  transition: all 0.25s ease;
}
/*end of six cards on destinations page*/

/*home page numbers about agency*/
.numbersContainer {
  height: 50vh;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.571)),
    url("images/numbersHomePage.jpg");
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem;
}
.numbersContainer > h3 {
  font-size: 36px;
  font-weight: 700;
  border-bottom: darkorange solid 2px;
}
.numbers {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 4rem;
}
.numberCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.number {
  font-size: 40px;
  font-weight: 900;
}
.description {
  font-size: 22px;
  color: darkorange;
}
/*end of home page numbers about agency*/

header > a {
  color: #ff8c00;
  font-size: 2rem;
}
header > a:hover {
  color: #ff8c00;
}
.cityMain {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 4rem;
}
.cityMainMadrid {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349)),
    url("https://pix10.agoda.net/geo/city/5531/1_5531_02.jpg?ca=6&ce=1&s=1920x822");
}
.cityMainBarcelona {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349)),
    url("https://img.freepik.com/free-photo/passeig-de-colom-barcelona-catalonia-spain_218319-7448.jpg?w=2000");
}
.cityMainSanSebastian {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349)),
    url("https://images.ansharimages.com/photo/spain/san-sebastian/kursaal-bridge-san-sebastian-spain.jpg");
}
.cityMainZaragoza {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349)),
    url("https://wallpaperaccess.com/full/2534230.jpg");
}
.cityMainGrenada {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349)),
    url("https://wallpaperaccess.com/full/411360.jpg");
}
.cityMainValencia {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349)),
    url("https://besttraveltips.net/wp-content/uploads/2015/11/o-VALENCIA-SPAIN-facebook.jpg");
}
.cityMain > p {
  color: white;
  margin: 0px;
  font-size: 2rem;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.521);
}
.cityMain > h2 {
  color: white;
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}
.goBackButton {
  color: #ff8c00;
  cursor: pointer;
  align-items: center;
  display: flex;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 28px solid #ff8c00;
  border-bottom: 13px solid transparent;
  display: inline-block;
  margin-right: 4px;
}
.cityText {
  text-align: justify;
  margin: 0%;
  width: 70%;
}
.cityText > p {
  line-height: 1.3;
  text-align: inherit;
  font-family: "Lato", sans-serif;
  font-size: 1.05em;
  margin-bottom: 2rem;
}
.cardsContainerCity {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  max-height: 100vh;
}
.cardsContainerCity > .cardDestination {
  width: 100%;
}
.cardsContainerCity > h3 {
  text-align: center;
  border-bottom: rgb(255, 104, 3) 2px solid;
}
.cityContent {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 1rem;
  padding: 3rem 4rem;
}
.cityContent:nth-child(2) {
  flex-grow: 3;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;

}
.mainAbout {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 4rem;
 background-image: url("https://media.audleytravel.com/-/media/images/home/africa/seychelles/letterbox-images/istock-new/la_digue_seychelles_beach_1212741428_3000x1000.jpg");
}
.mainAbout > h2 {
  color: #ff8c00;
}
.aboutContent {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
}
.aboutContent > h3 {
  text-align: center;
  font-size: 1.9rem;
}
.content1 {
  height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.content2 {
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2.7rem;
}
.content2 > h4 {
  font-weight: 700;
  border-bottom: #ff8c00 2px solid;
  padding-bottom: 0.7rem;
}

.content2 > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0%;
}
.introText {
  text-align: center;
  width: 50%;
}
.sent1 {
  font-size: 5rem;
  font-weight: 700;
}
.content3 {
  height: 50vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("https://ns.clubmed.com/grc/2022/173/RWD/cm_1_3000x1000_v1.jpg");
}

.toniBio {
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.toniBio>h3{
  padding-bottom: 1.5rem;
  border-bottom: #ff8c00 2px solid;
  margin-bottom: 2.5rem;
  font-weight: 700;
}
.toniBio>img{
  width: 100%;
  margin:0%;
  margin-bottom: 1.5rem;
}
.bioText {
  font-size: 1.1rem;
  width: 100%;
  text-align: justify;
  padding-bottom:1.5rem ;
  border-bottom: #ff8c00 2px solid;
}
.toniBio>.contactIcons{
  display: flex;
  width: 100%;
  padding-top:0.4rem ;
}

